__pycache__
*tmp*
code_sender*
*test*
*.html
*.log
*debug*
*.sublime-project
*.sublime-workspace
*.ahk
.RemoteSasSubmit\
*.pyc
things_to_do.md
settings_session.json
.DS_Store
*.spec
.clipboard
.error_msg.txt
